body {
    background-color: black;
    color: white;
    margin: 0;
}
canvas {
    position: absolute;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
}

img {
    position: absolute;
    cursor: pointer;
}

#container {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}